body {
    font-family: Arial, sans-serif;
    background-color: rgb(32, 32, 32);
    margin: 0;
    padding: 0;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 20px;
    list-style-type: none;
    text-align: center;
    
}
img {
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
h2, p {
    margin: 40px 0 10px 0;
    text-align: center;
    color: white;
}
.link a {
    display: block;
    padding: 10px;
    background-color: rgb(90, 87, 87);
    text-decoration: unset;
    color:aliceblue;
    border-radius: 10px;
    max-width: 300px;
    margin: 0 auto;
}
h4 {
    margin: 10px 0;
    text-align: center;
    color: rgb(211, 242, 165);
}